<%- include("./includes/head.ejs") %>

<body>
  <%- include("./includes/navigation.ejs") %>
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1><%= pageTitle %></h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6 episode-details-image">
          <img src="<%= content.img %>" alt="<%= pageTitle %>">
        </div>
        <div class="col-md-6 episode-details-content">
          <p><%= content.description %></p>
        </div>
      </div>      
    </div>
  </div>
</body>