<%- include("./includes/head.ejs") %>
<link rel="stylesheet" href="/css/form.css">
</head>

<body>
  <%- include("./includes/navigation.ejs") %>
  <div class="jumbotron">
    <div class="container">
      <h1><%= pageTitle %></h1>
      <img src="<%= content.img %>" alt="<%= pageTitle %>">
    </div>
  </div>
  