<%- include("./includes/head.ejs") %>

<body>
  <%- include("./includes/navigation.ejs") %>
  <main>
    <div class="jumbotron">
      <div class="container">
        <h1><%= pageTitle %></h1>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <% if (ep.length > 0) { %>
          <% ep.forEach(item => { %>
            <div class="col-md-4 singleEpisode">
              <div class="episodeTitle">
                <div class="episodeNr">
                  <h2><span class="cirledNumber"><%= item.episodeNr %></span> <%= item.title %></h2>
                </div> 
              </div>
              <div class="episodeImg">
                <a href="/episode-details/<%= item.id %>"><img src="<%= item.img %>" alt="<%= item.title %>" width="100%" /></a>
              </div>
              <div class="episodeButtons">
                <a class="btn detail-button" href="/episode-details/<%= item.id %>">Details</a>
                <a class="btn edit-button" href="/episode-bearbeiten/<%= item.id %>">Bearbeiten</a>
                <form action="/episode-entfernen" method="post">
                  <input type="hidden" name="episodeId" value="<%= item.id %>">
                  <button type="submit" class="btn delete-button">Entfernen</button>
                </form>
              </div>
            </div>  
          <% }); %>
        <% } else { %>
          <div class="col-md-12"></div>
            <h2>keine Daten</h2>
          </div>  
        <% } %>
      </div> 
    </div>
  </main>







  
  

  
</body>

</html>